*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    font-family: 'Poppins',
    sans-serif !important;
}

header{
    width: 100%;
    height: 750px;
    background: url(img/sergio_cuquejo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}

.nav1{
    background: transparent;
    height: 80px;
    color: #fff;
}

.nav2{
    background:#171c20;
    height: 90px;
    color:#fff;
    z-index: 1000;
}

.contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}

nav .social{
    margin-right: 0px;
    padding-left: 0px;
}

.nav__icons {
    margin-bottom: 10px;
}

.nav__img {
    width: 20px;
}

nav .enlaces a{
    display: inline-block;
    padding: 15px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

nav .enlaces a:hover{
    border-bottom: 4px solid rgb(129, 1, 1);
    transition: 0.6s;
}

.logo{
    height: 80px;
    padding: 25px 0;
    border-bottom: auto;
}

.icono{
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

.textos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.textos>h1{
    font-size: 80px;
    text-shadow: 100px 0px 50px rgba(0, 0, 0, .5);
}

.textos>h2{
    font-size: 30px; font-weight: 300;
    text-shadow: 100px 0px 50px rgba(0, 0, 0, .5);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

.cta {
    display: inline-block;
    background-color: #171c20;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.cta:hover {
    color: rgb(185, 4, 4);
}

/*About*/

.about{
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
}

.subtitle{
    color:black;
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.about__paragraph{
    justify-content: center;
    line-height: 1.7;
    margin-top: 15px;
}

.carousel-inner {
    margin-top: 20px;
    z-index: -1;
}

.knowledge{
    background-color: #bccce6;
    overflow: hidden;
    margin-top: 60px;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    margin-top: 15px;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

.section_card {
    display: flex;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
}

.card {
    margin: 60px auto;
    transition: transform .5s;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.subtitle_main {
    margin-top: 60px;
    text-align: center;
    margin-bottom: -20px;
}

/* Testimony */

.testimony {
    background-color: #bccce6;
    margin-top: 40px;
}

.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 3em;
    align-items: center;
}

.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimony__texts {
    max-width: 700px;
}

.testimony__course {
    background-color: #171c20;;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    padding: 4px;
}

.testimony__arrow {
    width: 90%;
    cursor: pointer;
}

.page-item .page-link {
    color:#171c20;
}

.page-item .page-link:hover{
    color: rgb(185, 4, 4) !important;
}

.page-item.active .page-link{
    background-color: #171c20 !important;
    border-color: #171c20;
}

.subtitle_main_videos {
    margin-top: 30px;
    text-align: center;
    margin-bottom: -20px;
}

/* footer */

.footer {
    background-color: #171c20;
    margin-top: 60px;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__container {
    display: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.nav--footer {
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    border-bottom: 1px solid #fff;
}

.footer_enlaces a{
    display: inline-block;
    padding: 17px;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.footer_enlaces a:hover{
    color: rgb(185, 4, 4);
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

.footer__copyright {
    margin-top: 10px;
    font-weight: 100;
    font-size: 16px;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}

@media screen and (max-width: 768px){
    .icono{
        display: block;
        cursor: pointer;
    }

    .enlaces{
        position: fixed;
        top: 80px;
        background: rgb(23, 21, 21);
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
        overflow: hidden;
    }

    .enlaces a{
        display: block;
        border-top: 30px;
        width: 100%;
        height: 50px;
        padding: 20px;
        text-align: center;
        background: rgb(10, 10, 10);
        color: #fff;
    }

    .textos>h1{font-size:70px;}
    .textos>h2{font-size:35px;}

    .section_card {
        display: grid;
        margin-top: 40px;
    }

    .card{
        margin: 20px auto;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }
    
    .knowledge__picture {
        grid-row: 1/2;
        justify-self: center;
    }

    .knowledge .knowledge__texts {
        margin-top: -30px;
    }

    .knowledge .cta{
        margin-bottom: 60px;
    }
    
    .testimony__container {
        grid-template-columns: 30px 1fr 30px;
    }
    
    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .subtitle {
        font-size: 2rem;
        margin-top: 0px;
    }

    .testimony__container .subtitle {
        margin-top: 70px;
    }

    .testimony__texts {
        text-align: center;
    }
    
    .testimony__img {
        width: 280px;
        height: 280px;
        margin-top: -8px;
        margin-bottom: 50px;
    }

    .footer_enlaces {
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    .carousel-inner .w-100 {
        width: 200%!important;
    }

    .card {
        width: 16rem!important;
    }

    .testimony__container {
        gap: 0em;
    }

    .testimony__img {
        width: 200px;
        height: 200px;
    }

    .testimony__texts .subtitle {
        font-size: 2.2rem;
        }
        
}